<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0ad2921e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename="../static/css/style.css") }}">
    <title>Dojo Survey!</title>
</head>
<body>
    
    <div class="container">
        <div class="content flex">
            <h1>Dojo Survey!</h1>
            <form class="flex" action="/formdata" method="post">
                <div class="form-item">
                    <label for='name'>Name:</label>
                    <input type='text' name='name' id="name">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-item">
                    <label for='location'>Location:</label>
                    <select name="location" id="locationSelect">
                        <option value="Bellevue, WA">Bellevue, WA</option>
                        <option value="Boise, ID">Boise, ID</option>
                        <option value="Chicago, IL">Chicago, IL</option>
                        <option value="Silicon Valley, CA">Silicon Valley, CA</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for='favelang'>Favorite Language:</label>
                    <select name="favelang" id="langSelect">
                        <option value="Python">Python</option>
                        <option value="MERN">MERN</option>
                        <option value="Java">Java</option>
                        <option value=".NET/C#">.NET/C#</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="comment">Comment (optional):</label>
                    <textarea type="text" name="comment" id="comment"></textarea>
                </div>
                <button type='submit' id="submitBtn">Submit Survey</button>
            </form>
        </div>
    </div>
</body>
</html>